{% extends "base.html" %}
{% block title %}Index{% endblock title %}
{% block content %}
<div class="max-w-lg mx-auto flex items-center">
  <div>
    <h1 class="text-xl font-medium text-gray-700">Results</h1>
    <ul class="space-y-3 mt-5">
      {% for r in results %}
        <li>
          <div class="flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm">
            <p class="text-gray-600 text-sm">{{ r.body }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div hx-ext="ws" ws-connect="/ws" class="mt-20">
    <div id="notifications" hx-swap-oob="beforeend">
      New message received
    </div>
    <div id="chat" hx-swap-oob="morphdom">
      ....
    </div>
    <form id="form" ws-send>
      <input name="message">
    </form>
  </div>

</div>
{% endblock content %}
